body {
  font-family: sans-serif;
  background-color: whitesmoke;
}
ul {
  font-size: 12px;
}
li {
  font-size: 15px;
  padding: 3px;
  margin-left: 30px;
  margin-top: 3px;
}
span {
  margin-left: 12px;
  font-weight: bolder;
}
input {
  width: 240px;
}
